 .lineaContadora .lineaCentral
{
	stroke:black;
}

.linea
{
	stroke:black;
}

text.nombre_del_hospital{
	    font-size: 6px;
}

 circle#vivo.mujer{
	fill:#fb8072;
}

 circle#vivo.hombre{
	fill:#80b1d3;
}

 circle#vivo.ne{
	fill:#558a86;
}

 circle#vivo.novivo{
	fill:#d9d9d9;
}

 circle#muerto.muerto{
	fill:#525252;
}

.lineaContadora circle.FEMENINO{
	fill:#fb8072;
}

.lineaContadora circle.MASCULINO{
	fill:#80b1d3;
}

.lineaContadora circle.NOVIVOS{
	fill:#d9d9d9;
}

.lineaContadora circle.nacimientos{
	fill:#FFFFFF;
	stroke: black;
}

.lineaContadora path.muertos{
	fill:#525252;
}

.lineaContadora circle.nacimientos{
	fill:#FFFFFF;
	stroke: black;
}

.lineaContadora circle.NE{
	fill:#558a86;

}

 path.backHexagons{
	fill:white;
	stroke:#ADADAD;
}

.hexChart[selected=true] {
	opacity:1;
}

.hexChart[selected=true] > path{
	stroke:black;
}

.hexChart[selected=false]{
	opacity:0.5;
}

.hexChart[selected=false][mouse=enter]{
	opacity:1;
}


.hexChart[selected=false] > path{
	stroke:#ADADAD;
}

.xAxis, .yAxis{
	stroke:#ADADAD;
}

.lineChart{
	font: 12px monospace;
}

.grouptitle{
	font: 20px monospace;
}

div.tooltip {   
  position: absolute;                     
  width: 100px;                  
  padding: 2px;             
  font: 12px sans-serif;        
  background: rgba(200, 54, 54, 0.5);
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;    
  z-index: 9;     
}

.wrapper-group#TII  path.backHexagons{
	fill:#A0DD68;
}
.wrapper-group#General  path.backHexagons{
	fill:#6768B2;
}
.wrapper-group#Perinatologia  path.backHexagons{
	fill:#E2CE7F;
}
.wrapper-group#Especialidades  path.backHexagons{
	fill:#B4B4C9;
}
.wrapper-group#MaternoInfantil  path.backHexagons{
	fill:#BADDBD;
}
.wrapper-group#Cirugia  path.backHexagons{
	fill:#C95EA8;
}

.wrapper-group#Atencionalamujer  path.backHexagons{
	fill:#A0A0B2;
}
.wrapper-group#Pediatrico  path.backHexagons{
	fill:#E2E1D0;
}

.wrapper-group#Sur  path.backHexagons{
	fill:#A0DD68;
}
.wrapper-group#Poniente  path.backHexagons{
	fill:#E2CE7F;
}
.wrapper-group#Oriente  path.backHexagons{
	fill:#6768B2;
}
.wrapper-group#Centro  path.backHexagons{
	fill:#B4B4C9;
}