<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <script src="js/angular.js"></script>
    <script src="js/d3.js"></script>
    <script src="data/hospitales_info.js"></script>
    <script src="js/main.js"></script>
    <script src="js/directives/scale-slider.js"></script> 
    <script src="js/directives/hexa-chart.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <style>
    .nombre_del_hospital{font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 200; font-size: 11px;}
    .legend { font: 10px sans-serif;}
    </style> 
  </head>

<body ng-app="myApp" ng-controller="MainCtrl" >
    <div class="map-container" ng-style="{opacity: loaded ? 1 : 0 }">
      <p>
        <div class="play-btn" ng-model="playing" ng-click="playButtonClicked()">
          {{ playing ? 'pause' : 'play' }}
        </div>
        {{ year }} - {{ months[month] }}
        <small style="float:right">Datos actualizados a diciembre de 2012</small>
      </p>
      <scale-slider domain="domain" now="sliderPosition" ></scale-slider>
      
        <div class="detail" charts="charts">          
          <hexa-chart data="chart" ng-repeat="chart in charts" year="year" month="month">
          </hexa-chart>
        </div> 
      
     </div>

  </body>
</html>